<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <style>
        .message {
            padding: 10px;
            margin: 5px;
            background-color: #f3f3f3
        }
        nav a {
            color: #d64161;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }

    </style>
</head>
<body>
    <nav>
        <a href="/home"> Main Website</a>
        <a href="/accountinfor">Account Information</a>
        <a href="/signup">Sign Up</a>
        <a href="/signin"> Sign In</a>
        <a href="/news_feed">News Feed</a>
        <a href="/investment_registration"> Investmnent Registration</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>