/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 2rem;
    width: 400px;
  }
  
  .login-form h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  input {
    border: none;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
  }
  
  button[type="submit"] {
    background-color: #ff6600;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0.5rem;
    width: 100%;
  }
  
  button[type="submit"]:hover {
    background-color: #e65c00;
  }
   */

   * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
  }
  
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  .login-form {
    background-color: #fff;
    z-index: 5; 
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 2rem;
    width: 400px;
  }
  
  .login-form h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  input {
    border: none;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
  }
  
  button[type="submit"] {
    background-color: #ff6600;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0.5rem;
    width: 100%;
  }
  
  button[type="submit"]:hover {
    background-color: #e65c00;
  }

  .features-image {
    position: relative;
    margin-top: 100px;
    width: 100%;
    height: 100vh;
    background: url("features-illustration-light.svg") center center no-repeat;
    background-size: cover;
    z-index: 0;
  }
  
  .container-sm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  